<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <%- include("./partials/navbar")  %>
    <h1>Contact</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, ad ratione! Aliquam, obcaecati eum perspiciatis ipsum dicta distinctio cumque sit accusamus deleniti veniam dolor et voluptatem, quod totam at delectus debitis porro velit! Eos nulla optio, eveniet tempore voluptas soluta. Ex perferendis atque quisquam, voluptatum dolores commodi modi repellendus quam nam nulla, nisi deserunt ad?</p>
</body>
</html>