<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS tutorial</title>
</head>

<body style="text-align: center;" >
    <h1 style="text-align: center;">This is EJS HOME PAGE</h1>
    <h3>User Details :</h3>
    <% users.forEach(element => { %>
     <ol>
        <li><%=element.name %></li>
        <li><%=element.role %></li>
     </ol>
    <% }) %>


</html>