<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>

         <%- include("./partials/navbar") %>

    <h1>Profile</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ab sunt aspernatur totam asperiores doloribus, eligendi maxime numquam molestias consequatur magni harum ea reiciendis deserunt mollitia provident recusandae suscipit, porro nisi dolorum impedit ipsam optio dicta dolore! Quod cumque rem odio laborum voluptatibus animi omnis nobis perspiciatis dolores dicta? Fugit ut exercitationem dicta laudantium corrupti quisquam quasi molestiae id! Laudantium animi quibusdam recusandae ut repudiandae at!
    </p>
</body>
</html>